doctype html
head
  meta(charset='utf-8')
  title Les rapaces de GAP | Panneau d'administration
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/admin.css')

body
  h2 Administration
  h3 Changer la video d'en-tête
  .video
    //- https://jsfiddle.net/dhyzV/1173/
    input#get_file(type='button' value='Choisir une video')
    input#my_file(type='file')
    #customfileupload Pas de fichier
    hr.orSeparator
    input.url-video(type='url' placeholder='Entrez l\'adresse URL' name='video')
    input.submit-video(type='submit' value='Mettre à jour la video')
  
  .matchs
    h3 Modifier/Ajouter les matchs à venir
    //- Collapsible Match
    #accordion.panel-group-main
      .panel.panel-default
        .panel-heading
          p.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapse1')
              | Match 1
        #collapse1.panel-collapse.collapse.in
          .panel-body
            
            //- Collapsible Edit Match
            #subAccordion.panel-group
              .panel.panel-default
                .panel-heading
                  p.panel-title
                    a(data-toggle='collapse' data-parent='#subAccordion' href='#subCollapse1')
                      p Logo équipe adverse actuel :
                      img(src='https://via.placeholder.com/100x100' alt='logo equipe adverse')
                #subCollapse1.panel-collapse.collapse.in
                  .panel-body
                    .video
                      //- https://jsfiddle.net/dhyzV/1173/
                      input#get_file(type='button' value='Choisir une image')
                      input#my_file(type='file')
                      #customfileupload Pas de fichier
                      hr.orSeparator
                      input.url-video(type='url' placeholder='Entrez l\'adresse URL' name='logo')
                      input.submit-video(type='submit' value='Mettre à jour')
                hr
                    
              .panel.panel-default
                .panel-heading
                  p.panel-title
                    a(data-toggle='collapse' data-parent='#subAccordion' href='#subCollapse2')
                      p Nom de l'équipe adverse
                #subCollapse2.panel-collapse.collapse
                  .panel-body
                    input(type='text' value='Nom de l\'équipe' name='nom_equipe_adverse')
                    input(type='submit' value='Mettre à jour')
                hr
              .panel.panel-default
                .panel-heading
                  p.panel-title
                    a(data-toggle='collapse' data-parent='#subAccordion' href='#subCollapse3')
                      p Date et heure de rencontre
                #subCollapse3.panel-collapse.collapse
                  .panel-body
                    input(type='date' value='Nom de l\'équipe' name='date_rencontre')
                    input(type='time' value='Nom de l\'équipe' name='time_rencontre')
                    input(type='submit' value='Mettre à jour')
                      
      .panel.panel-default
        .panel-heading
          p.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapse2')
              | Ajouter un Match
        #collapse2.panel-collapse.collapse
          .panel-body
            
            //- Collapsible Add Match
            input#get_file(type='button' value='Choisir une image')
            input#my_file(type='file')
            #customfileupload Select a file
            hr.orSeparator
            input(type='url' value='URL' name='logo')
            hr
            input(type='text' value='' name='nom_equipe_adverse')
            input(type='date' value='' name='date_rencontre')
            input(type='time' value='' name='time_rencontre')
            input(type='submit' value='Ajouter le match')
    
  div
    h3 Modifier/Ajouter les membres
    
    //- Collapsible Membres
    #accordion.panel-group-main                  
      - for (let i = 0; i < joueurs.length; i++)
        - let collapseID = 'collapse-membre' + i;
        .panel.panel-default
          .panel-heading
            p.panel-title
              a(data-toggle='collapse' data-parent='#accordion' href='#' + collapseID)
                | #{joueurs[i].prenom} #{joueurs[i].nom}
          div(id = collapseID).panel-collapse.collapse.in
            .panel-body
              form 
                p Informations
                p
                  label Poste
                  input(type='text' value=joueurs[i].poste name='poste')
                p
                  label Shoot
                  input(type='text' value=joueurs[i].shoot name='shoot')
                p
                  label Date de naisance
                  input(type='date' value=joueurs[i].naissance name='Date de naissance')
                p
                  label Age
                  input(type='number' value=joueurs[i].age name='age')
                p
                  label Nationalité
                  input(type='text' value=joueurs[i].nationnalité name='nationalite')
                p
                  label Poids (kg)
                  input(type='number' value=joueurs[i].poids name='poid')
                p
                  label Taille (cm)
                  input(type='number' value=joueurs[i].taille name='taille')
                hr
              
                p Statistiques
                p
                  label Matchs joués
                  input(type='number' value='' name='matchs_joues')
                p
                  label Buts
                  input(type='number' value='' name='buts')
                p
                  label Assist
                  input(type='number' value='' name='assist')
                p
                  label Points (Assist + Buts)
                  input(type='number' value='' name='points')
                p
                  label Pénalités
                  input(type='number' value='' name='penalites')
                p
                  label Tirs
                  input(type='number' value='' name='tirs')
                p
                  label Efficacité (Tirs réussis)
                  input(type='number' value='' name='efficacite')
                input(type='submit' value='Mettre à jour')
  
      .panel.panel-default
        .panel-heading
          p.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapse-add-membre')
              | Ajouter un Membre
        #collapse-add-membre.panel-collapse.collapse
          .panel-body
            form 
              p Informations
              p
                label Poste
                input(type='text' value='' name='poste')
              p
                label Shoot
                input(type='text' value='' name='shoot')
              p
                label Date de naisance
                input(type='date' value='' name='Date de naissance')
              p
                label Age
                input(type='number' value='' name='age')
              p
                label Nationalité
                input(type='text' value='' name='nationalite')
              p
                label Poid (kg)
                input(type='number' value='' name='poid')
              p
                label Taille (cm)
                input(type='number' value='' name='taille')
              hr
      
              p Statistiques
              p
                label Matchs joués
                input(type='number' value='' name='matchs_joues')
              p
                label Buts
                input(type='number' value='' name='buts')
              p
                label Assist
                input(type='number' value='' name='assist')
              p
                label Points (Assist + Buts)
                input(type='number' value='' name='points')
              p
                label Pénalités
                input(type='number' value='' name='penalites')
              p
                label Tirs
                input(type='number' value='' name='tirs')
              p
                label Efficacité (Tirs réussis)
                input(type='number' value='' name='efficacite')
              input(type='submit' value='Ajouter')
  

  script(type='text/javascript' src='javascripts/admin.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
