head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title Les rapaces de GAP
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/styles.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/loading-bar.css')
    
header
  nav.navbar.navbar-expand-lg.navbar-light
    .mx-auto.d-sm-flex.d-block.flex-sm-nowrap
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.center-nav
          li.nav-item
            a.nav-link(href='#home')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#matchs') Matchs à l'affiche
          li.nav-item
            a.nav-link(href='#team') Joueurs
          li.nav-item
            a.nav-link(href='#story') Histoire
          li.nav-item
            a.nav-link(href='#contact') Contact
  section.home#home
    .container-fluid.homePage
      .logo
        img.img-fluid.mx-auto.d-block.logoUn(src=(equipes[(matchs[0].id_domicile) - 1].logo))
        img.img-fluid.mx-auto.d-block.versus(src='images/vs2.png', alt='versus')
        img.img-fluid.mx-auto.d-block.logoDeux(src=(equipes[(matchs[0].id_exterieur) - 1].logo))
      #demo(data-current-date=matchs[0].heure)
      video.homeVid(autoplay='', muted='', loop='')
        source(src='images/home.mp4', title='introVIdeo')
  section.titreMatchs#matchs
    h2 Matchs à l'affiche
    
  section.comingMatchs
      -for(let i = 0; i < matchs.length; i++)
        .container-fluid
          .row.matchs
              img.img-fluid.mx-auto.d-block.equipeUne(src=(equipes[(matchs[i].id_domicile) -1 ].logo))
              p #{matchs[i].heure.toISOString().slice(0,10)}
                img.img-fluid.mx-auto.d-block.vs(src='images/vs2.png') 
              img.img-fluid.mx-auto.d-block.equipeDeux(src=(equipes[(matchs[i].id_exterieur)- 1].logo))

  section.team-gallery#team
    h2 Galerie des joueurs
    ul#teamGallery.nav.nav-tabs(role='tablist')
      li.nav-item
        a#players-tab.nav-link(data-toggle='tab', href='#players', role='tab', aria-controls='players', aria-selected='true') Les Joueurs
      li.nav-item
        a#staff-tab.nav-link(data-toggle='tab', href='#staff', role='tab', aria-controls='staff', aria-selected='false') Le Staff
    #teamGalleryContent.tab-content
      #players.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='players-tab')

        .container.d-none.d-lg-block

          .row            
            - for (let x = 0; x < joueurs.length; x++)
              -let modalTag = 'player' + x +'-modal';                
              .col-xs-1.col-md-6.col-lg-3
                .photo-container
                  .photo-background
                  a(data-toggle='modal', data-target='#player' + x +'-modal')
                    img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                  .photo-caption
                    .flag
                      img(src= joueurs[x].flag, alt='Drapeau')
                    .caption
                      figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                    .jersey
                      p #1          



        .container.d-md-block.d-lg-none
          #header-carousel.carousel.slide(data-ride="carousel",data-interval="4000")
            .carousel-inner
              -var x = 0
              -let modalTag = 'player' + x +'-modal'; 
              for joueur in joueurs
                if x == 0
                  .carousel-item.active
                    .photo-container
                      .photo-background
                      a(data-toggle='modal', data-target='#player' + x +'-modal')
                        img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                      .photo-caption
                        .flag
                          img(src= joueurs[x].flag, alt='Drapeau')
                        .caption
                          figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                        .jersey
                          p #1    
                  -x++
                else
                  
                  .carousel-item
                    .photo-container
                      .photo-background
                      a(data-toggle='modal', data-target='#player' + x +'-modal')
                        img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                      .photo-caption
                        .flag
                          img(src= joueurs[x].flag, alt='Drapeau')
                        .caption
                          figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                        .jersey
                          p #1
                  -x++

            a.left.carousel-control-prev(href="#header-carousel", role="button", data-slide="prev")
              span.carousel-control-prev-icon
            a.right.carousel-control-next(href="#header-carousel", role="button", data-slide="next")
              span.carousel-control-next-icon
      include ./modal.pug

      #staff.tab-pane.fade(role='tabpanel', aria-labelledby='staff-tab')
        .container.d-none.d-lg-block
          .row 
            - for (let y = 0; y < staffs.length; y++)
              -let modalTagSt = 'staff' + y +'-modal';   
              .col-xs-1.col-md-6.col-lg-3
                .photo-container
                  .photo-background
                  a(data-toggle='modal', data-target='#staff' + y +'-modal')
                    img(src= staffs[y].photo, alt='')
                  .photo-caption
                    .flag
                      img(src= staffs[y].flag, alt='')
                    .caption
                      figcaption #{staffs[y].nom}
                    .jersey
        .container.d-md-block.d-lg-none
          #staff-carousel.carousel.slide(data-ride="carousel",data-interval="4000")
            .carousel-inner
              -var y = 0
              -let modalTagSt = 'staff' + y +'-modal'; 
              for staff in staffs
                if y == 0
                  .carousel-item.active
                    .photo-container
                      .photo-background
                      a(data-toggle='modal', data-target='#staff' + y +'-modal')
                        img(src= staffs[y].photo, alt='')
                      .photo-caption
                        .flag
                          img(src= staffs[y].flag, alt='')
                        .caption
                          figcaption #{staffs[y].nom}
                        .jersey
                  -y++
                else
                  
                  .carousel-item
                    .photo-container
                      .photo-background
                      a(data-toggle='modal', data-target='#staff' + y +'-modal')
                        img(src= staffs[y].photo, alt='')
                      .photo-caption
                        .flag
                          img(src= staffs[y].flag, alt='')
                        .caption
                          figcaption #{staffs[y].nom}
                        .jersey
                  -y++

            a.left.carousel-control-prev(href="#staff-carousel", role="button", data-slide="prev")
              span.carousel-control-prev-icon
            a.right.carousel-control-next(href="#staff-carousel", role="button", data-slide="next")
              span.carousel-control-next-icon

      include ./staff-modal.pug
  h2 Success story    
  section.story#story
    .row
      .col-sm-8.offset-sm-2
        p.texte-histoire
          | Le club est créé en 1971 et s'engage en championnat de France en 1952, où il évolue en deuxième série. En 1955, c'est l'inauguration de la patinoire Roger Brown, qui devient artificielle en 1961. Les Gapençais débutent en 1re série (division élite) pour la saison 1962-1933. À partir de 1962, le canadien Camil Gélinas, entraineur de l'ACBB à son heure de gloire, devient entraineur de toutes les catégories de Gap, à la demande du Président de la FFSG, Jean Ferrand2. Cela porte se fruits | avec un premier titre de champion de France, en catégorie junior en 1965.
        button#button-lire-suite(onclick='changeText()' data-toggle='collapse' data-target='#la-suite') Lire la suite ...
        p#la-suite.collapse.texte-histoire
          | En 1972, d'autres travaux sur la patinoire (couverture de la piste) permettent l'utilisation permanente de la glace2, et d'accueillir les championnats du monde groupe C4. Pendant ce temps, l'équipe sénior progresse encore, notamment grâce à l'arrivée du tchèque Zdeněk Bláha comme entraineur et remporte son premier titre de champion de France en 19775. Gap réalise le doublé l'année suivante6. Le club continue par la suite à être un grand club formateur7, en remportant jusque dans les
          | années 1980 pas moins de 21 titres de champion de France dans les catégories mineur et étant vice-champion de France en 1983-19848. En 1989, le club finit à l'avant-dernier place de la Nationale 1A et peut se maintenir. Mais préfère descendre pour mettre fin à l'aventure professionnelle, qui coûte cher9. Pour la saison 1992-1993, Gap remonte une première fois en élite, à la suite d'un remaniement des divisions et de l'abandon de la ligue nationale à 10 clubs10. En 1996, le club
          | remporte la Division 1 et remonte à nouveau11. Nouvelle descente immédiate, quand Gap échoue à se maintenir en poule de maintien12. Le club descend lentemet dans la hiérarchie française, devant même disputer un barrage pour se maintenir en Division 1 lors de la saison 2001-200213. Mais le club rebondit la saison suivante, grâce à l'élargissement de l'élite vers un Super 16. Tâche difficile, puisqu'avec le plus faible budget14, Gap est souvent dans le bas de tableau. Il finit même par | re-descendre au second échelon15 en 2006. En 2009, grâce à un nouveau titre de champion de Division 1, le club revient dans la ligue élite, la Ligue Magnus16. Aujourd’hui, le club possède un des plus beaux palmarès du hockey français avec 29 titres nationaux, 37 podiums, 2 participations à la coupe d’Europe, 1 coupe des As et 22 joueurs sélectionnées en équipe nationale dont huit pour les Jeux olympiques2. Entre le début de la saison 2009-2010 et la fin de la saison 2012-2013, les
          | matchs de Gap à domicile étaient diffusés en direct vidéo sur le site des rapaces grâce à l'équipe du Rapace Live. Longtemps annoncé le projet de rénovation de la patinoire a enfin abouti. Les travaux s'échelonnent jusqu'en août 2012. La patinoire est complètement refaite et sa capacité est portée à 2000 places. Lors de la saison 2011-2012, les rapaces jouent leurs matchs « à domicile » au Palais omnisports Marseille Grand Est. Le 23 octobre 2012, Georges Obninsky, président du club
          | annonce sa démission 17 lors d'une conférence de presse 18. Il est remplacé par Philippe Vial et Jérôme Escallier. À l'issue de la saison 2016-2017, les Rapaces de Gap remportent la Ligue Magnus, devenant ainsi Champions de France pour la quatrième fois de leur histoire.

  h2.brand#form Formulaire de contact
  section.contact-f#contact
    .container
      .wrapper
        .company-info
          h3 Contacts
          ul
            li
              i.fa.fa-road
              |  95 Cours Maréchal Juin, Bordeaux
            li
              i.fa.fa-phone
              |  05 57 81 43 81
            li
              i.fa.fa-envelope
              |  contact@Mr-Bison.com

        .contact
          h3 Envoyez nous vos idées et vos propositions!
          form(action='/form', method='POST' data-toggle='validator' onsubmit='submitForm()')
            p
              label Nom
              input(type='text', name='lastname', placeholder='Vandamme', required='')
            p
              label Prénom
              input(type='text', name='firstname', placeholder='Jean Claude', required='')
            p
              label Adress mail
              input(type='email', name='mail', placeholder='example@hotmail.fr', required='')
            p
              label Portable
              input(type='tel', name='phone', placeholder='0640506020')
            p.full
              label Message
              textarea(name='message', rows='5', placeholder='Votre message ici!', required='')
            p.full
              input#sendButton(type='submit', value='Envoyer')

  section.banner-sponsors
    .container
      .row.cont
        .col-xs-12.col-md-4
          a(href='http://www.regionpaca.fr/', target='blank')
            img.logo-social(src='images/logo-région-paca.png', alt='logo-PACA')
            img.logo-sponsors
        .col-xs-12.col-md-4
          a(href='http://www.ville-gap.fr/', target='blank')
            img.logo-bordeaux(src='images/Gap.png', alt='logo-GAP')
            img.logo-sponsors
        .col-xs-12.col-md-4
          a(href='https://www.decathlon.fr/', target='blank')
            img.logo-decathlon(src='images/decathlon.png', alt='logo-decathlon')
            img.logo-sponsors

  img.footer-logo(src='images/footer.png', alt='footer-logo')
  footer.container-fluid
    .text-center.center-block
      a(href='https://www.facebook.com/')
        i#social-fb.fa.fa-facebook-square.fa-3x.social
      a(href='https://www.youtube.com/')
        i#social-yb.fa.fa-youtube-square.fa-3x.social
      a(href='https://twitter.com/')
        i#social-tw.fa.fa-twitter-square.fa-3x.social
      a(href='https://plus.google.com/')
        i#social-gp.fa.fa-google-plus-square.fa-3x.social
      br
      a.adminLogin(href='/login') Login Admin
      br 
      a.mentions(href='http://www.rhe76.com/Mentions_Legales') Mentions légales   
      br
      a.CGU(href='https://odyssey.wildcodeschool.fr/mentions-legales') CGU 
      .footer-made
        | Made by The Gitsy Kings with 
        span.heart ❤
        |  and music




script(type='text/javascript' src='javascripts/timer.js')
script(type='text/javascript' src='javascripts/login.js')
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript', src='javascripts/loading-bar.js')
script(type='text/javascript', src='javascripts/progress-bar.js')

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
